h1,
h2 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.color {
  color: red;
  background-color: yellow;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
ul.ul,
ol.ol {
  display: inline-block;
  text-align: left;
  font-size: 20px;
}
div.container {
  text-align: center;
}

ol.bg-color {
  background-color: yellow;
}

p.justify.size {
  font-size: 20px;
  text-align: center;
}
