/* css reset */
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@font-face {
  font-family: "norwesterregular";
  src: url("fonts/norwester-webfont.woff2") format("woff2"),
    url("fonts/norwester-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "abhaya_libreregular";
  src: url("fonts/abhayalibre-regular-webfont.woff2") format("woff2"),
    url("fonts/abhayalibre-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat_alternatesregular";
  src: url("fonts/montserratalternates-regular-webfont.woff2") format("woff2"),
    url("fonts/montserratalternates-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  height: 1.5;
  display: flex;
  flex-direction: column;
}

.header h1 {
  text-align: center;
  margin: 40px 40px 20px 40px;
  font-family: "norwesterregular", sans-serif;
  color: #f43f5e;
  font-size: 2.1rem;
}

.header .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .image img {
  height: 300px;
  width: 600px;
  border-left: 12px solid #e11d48;
  border-radius: 20px;
}

.title {
  text-align: center;
  font-size: 1.8rem;
  color: #ff1c42;
  margin: 12px;
  font-family: "abhaya_libreregular", sans-serif;
}

.para p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  font-size: 1.1rem;
  color: rgba(4, 4, 4, 0.844);
  font-family: "montserrat_alternatesregular", sans-serif;
  line-height: 120%;

}

div.para {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 8px 8px 8px;

  text-align: justify;
}

div.ingredient-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  width: 650px;
}

ul li {
  text-align: justify;
  font-family: "montserrat_alternatesregular", sans-serif;
  font-size: 1.1rem;
  margin: 12px;
  color: rgba(20, 20, 20, 0.844);
}

div.steps-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

ol {
  width: 630px;
  margin-bottom: 100px;
}

ol li {
  font-size: 1.1rem;
  color: rgba(20, 20, 20, 0.844);
  font-family: "montserrat_alternatesregular", sans-serif;
  text-align: justify;
  margin: 12px;
}
