*::before ,
*::after {
  box-sizing: border-box;
}

* {
  margin:0;
}

body {
  line-height: 1.5;
}

.containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  margin-top: 100px;
  background-color: #60a5fa;
  

}