h1 {
  background-color: yellow;
  color: rgb(241, 7, 7);
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 800;
  font-size: 75px;
}

ul {
  background-color:yellow;
  color: rgb(255, 0, 0);
  text-align: center;
  font-size: 50px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

div.container {
  text-align: center;
}

ul.recipes {
  display: inline-block;
  text-align: left;
}


#link-color {
  color: rgb(0, 0, 0);
}